<% rating = app.app.reputation_for(:rating).to_i %>
<% specialized_comments = app.app.comments.select { |c| c.type ==  :specialized }.count %>
<% belongs_to_area = app.app.categories.any? { |c| c.kind.eql? "Área" } %>
<li class="general-list-item">
  <%= link_to "Fechar", { :action => "destroy", :user_id => @user,
        :id => app },
        :confirm => "Are you sure?", :method => :delete, :class => "general-list-item-close icon-close-gray_16_18 text-replacement" %>
  <div class="general-list-item-body">
    <div class="general-list-item-column">
      <%= link_to app_path(app.app), title: app.app.name do %>
        <%= image_tag app.app.thumbnail(:medium), title: app.app.name, alt: app.app.name %>
      <% end %>
    </div>
    <div class="general-list-item-column">
      <h4 class="general-list-item-title">
        <%= link_to truncate(app.app.name, :length => 40), app_path(app.app), title: app.app.name, class: "general-list-item-title-link" %>
      </h4>
      <span class="legend">Autor: <%= app.app.author %></span>
      <span class="legend"><%= app.app.categories.select { |c| c.kind.eql? "Nível" }.collect(&:name).join(", ") %></span>
      <span class="legend">Língua: <%= app.app.language %></span>
      <% if belongs_to_area %>
        <span class="legend">Área: <%= app.app.categories.select { |c| c.kind.eql? "Área" }.collect(&:name).join(", ") %></span>
      <% end %>
    </div>
  </div>
  <div class="general-list-item-footer">
    <%= render "shared/app_rating_stars", rating: rating %>
    <ul class="general-list-item-counters">
      <li class="general-list-item-counter icon-seen-gray_16_18-before"><%= app.app.views %></li>
      <li class="general-list-item-counter icon-comment-gray_16_18-before"><%= app.app.comments.select { |c| c.type == :common }.count %></li>
      <% if specialized_comments != 0 %>
        <li class="general-list-item-counter icon-specialist-gray_16_18-before"><%= specialized_comments %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Abrir", preview_app_path(app.app), :class => "button-default", "data-toggle" => "modal-app", "data-modal-title" => app.app.name, "data-modal-subtitle" => app.app.author, "data-modal-url" => app.app.url %>
</li>
