<p id="notice"><%= notice %></p>
<ul>
  <li>
    <%= link_to 'Portal de Aplicativos (Recursos Educacionais Abertos)',
                root_path %>
  </li>
  <li>
    <%= link_to 'Aplicativos Favoritos',
                user_favorites_path(@user) %>
  </li>
</ul>
<h1>FAVORITES</h1>

<% @apps.each do |app| %>
   <p> <%= app.name =%> <%= link_to 'Abrir', preview_app_path(app) %> </p>
<% end %>
<%= will_paginate @apps =%>