<% number_of_displayed_last_answers = ReduApps::Application.config.number_of_displayed_last_answers %>
<li id="comment-<%= common_comment.id %>">
  <hr class="list-separator">
  <div class="status clearfix">
    <div class="status-text">
      <%= link_to redu_user_static("", common_comment.author), class: "icon-link" do %>
        <%= image_tag common_comment.author.thumbnail.url(:medium), alt: common_comment.author.display_name, title: common_comment.author.display_name, size: "64x64" %>
      <% end %>
      <%= link_to common_comment.author.display_name, redu_user_static("", common_comment.author), class: "link-name" %>
      <span class="status-info">comentou sobre este aplicativo:</span>
      <% if (can? :manage, common_comment) %>
        <%= link_to 'Apagar Comentário', [common_comment.app, common_comment],
                   confirm: 'Ao apagar este comentário, você também removerá todas as respostas. Deseja continuar?',
                   method: :delete, remote: true,
                   class: "close icon-close-gray_16_18 replacement" %>
     <% end %>
      <span class="date"><%= l common_comment.created_at %></span>
    </div>
    <div class="status-container">
      <div class="status-content">
        <div class="post-text">
          <p class="input-user">
            <%= common_comment.body %>
          </p>
        </div>
      </div>

      <%# Respostas ao comentário %>
      <% if common_comment.answers.length > 0 %>
        <ol id="comments-for-<%= common_comment.id %>" class="responses status-content">
          <% if common_comment.answers.length > number_of_displayed_last_answers %>
            <li class="last-responses">
              <p class="legend">Visualizando as últimas respostas...</p>
              <hr>
            </li>
          <% end %>
          <div class="comments">
            <%= render partial: 'answers/answer', collection: common_comment.answers.last(number_of_displayed_last_answers),
                       locals: { comment: common_comment, total: max_answers(common_comment.answers.length, number_of_displayed_last_answers) } %>
          </div>
          <% if common_comment.answers.length > number_of_displayed_last_answers %>
            <div class="show-more">
              <hr>
              <li class="all-responses">
                <%= link_to "Mostrar todas as #{common_comment.answers.length} respostas",
                            app_comment_answers_path(@app, common_comment), remote: true,
                            class: "link-secondary" %>
              </li>
            </div>
          <% end %>
        </ol>
      <% end %>
    </div>
    <% if can? :create, Comment %>
      <ul class="actions clearfix">
        <li>
          <a class="icon-reply-gray_8_10-before reply-status" href="#">Responder</a>
        </li>
      </ul>
      <%= render "apps/create_response", klass: nil, model_object: [@app, common_comment, Answer.new], comment_type: "answer" %>
    <% end %>
  </div>
</li>