<%#
  Comentários comuns.

  Variáveis:
    common_comment: o comentário.
%>

<li id="comment-<%= common_comment.id %>">
  <hr class="list-separator">
  <div class="status without-context">
    <div class="subject">
      <%= link_to redu_user_static("", common_comment.author), class: "author-thumbnail" do %>
        <%= image_tag common_comment.author.thumbnail.url(:medium), alt: common_comment.author.display_name, title: common_comment.author.display_name, size: "64x64" %>
      <% end %>
      <div class="subject-info">
        <%= link_to common_comment.author.display_name, redu_user_static("", common_comment.author), class: "link-name" %>
        <span class="action">comentou sobre este aplicativo:</span>
        <% if (can? :manage, common_comment) %>
          <%= link_to 'Apagar Comentário', [common_comment.app, common_comment],
                     confirm: 'Ao apagar este comentário, você também removerá todas as respostas. Deseja continuar?',
                     method: :delete, remote: true,
                     class: "icon-close icon-close-gray_16_18 text-replacement" %>
        <% end %>
        <span class="date legend"><%= l common_comment.created_at %></span>
      </div>
    </div>
    <div class="subject-content">
      <div class="status-content status-tab tab-left">
        <%= common_comment.body %>
      </div>

      <%# Respostas ao comentário %>
      <% unless common_comment.answers.empty? %>
        <ol id="comments-for-<%= common_comment.id %>" class="comments responses status-tab tab-left">
          <li class="show-responses">
            <span class="legend last-responses">Visualizando as últimas respostas...</span>
            <hr>
          </li>
          <%= render partial: 'answers/answer', collection: common_comment.answers,
                     locals: { total: common_comment.answers.length } %>
          <li class="show-responses">
            <div class="show-more">
              <hr>
              <span class="see-more link-fake link-secondary">Mostrar todas as 12 respostas</span>
            <div>
          </li>
        </ol>
      <% end %>
      <% if can? :create, Comment %>
        <ul class="actions">
          <li class="reply-status icon-reply-gray_8_10-before">
            <span class="link-fake link-secondary">Responder</span>
          </li>
        </ul>
        <%= render "comments/form", klass: "tab-right", array_for_url: [@app, common_comment, common_comment.answers.build] %>
      <% end %>
    </div>
  </div>
</li>