<hr class="list-separator">
<li class="status clearfix">
  <div class="status-text">
    <%= link_to redu_user_static("", common_comment.author), class: "icon-link" do %>
      <%= image_tag common_comment.author.thumbnail.url(:medium), alt: common_comment.author.display_name, title: common_comment.author.display_name, size: "64x64" %>
    <% end %>
    <%= link_to common_comment.author.display_name, redu_user_static("", common_comment.author), class: "link-name" %>
    comentou sobre este aplicativo:
    <% if (can? :manage, common_comment) %>
      <%= link_to 'Apagar Comentário', [common_comment.app, common_comment],
                 :confirm => 'Ao apagar este comentário, você também removerá todas as respostas. Deseja continuar?',
                 :method => :delete,
                 :class => "close icon-close-gray_16_18 replacement" %>
   <% end %>
    <span class="date"><%= l common_comment.created_at %></span>
  </div>
  <div class="status-container">
    <div class="status-content">
      <div class="post-text">
        <p class="input-user">
          <%= common_comment.body %>
        </p>
      </div>
    </div>

  <%# Respostas ao comentário %>
  <% if common_comment.answers.length != 0 %>
    <ol id="comments-for-<%= common_comment.id %>" class="responses status-content">
      <% if common_comment.answers.length > 3 %>
        <li class="last-responses">
          <p class="legend">Visualizando as últimas respostas...</p>
          <hr>
        </li>
      <% end %>
      <div class="comments">
        <%= render partial: 'comments/comment_answer', collection: common_comment.answers.last(3),
                   locals: { comment: common_comment, total: max_3_answers(common_comment.answers.length) } %>
      </div>
      <% if common_comment.answers.length > 3 %>
        <div class="show-more">
          <hr>
          <li class="all-responses">
            <%= link_to "Mostrar todas as #{common_comment.answers.length} respostas",
                        app_comment_path(@app, common_comment), remote: true,
                        class: "link-secondary" %>
          </li>
        </div>
      <% end %>
    </ol>
  <% end %>
  </div>
  <% if can? :create, Comment %>
    <ul class="actions clearfix">
      <li>
        <a class="icon-reply-gray_8_10-before reply-status" href="#">Responder</a>
      </li>
    </ul>
    <%= render "create_response", klass: nil, model_object: [@app, common_comment, @app.comments.build], comment_type: "answer" %>
  <% end %>
</li>
