<%#
  Renderiza o balão cinza com a área de texto de responder.

  Variáveis locais:
    klass: classe adicional a ser adicionada no wrapper.
    array_for_url: array com os objetos necessários para montar a url
                   (o último sempre será o objeto do form).
%>
<%= form_for(array_for_url, remote: true, html: { class: "status-tab status-list #{klass}" }) do |f| %>
  <%= f.hidden_field :type, value: array_for_url.last.type %>
  <%= f.hidden_field :kind, value: array_for_url.last.kind %>
  <%= f.hidden_field :author, value: current_user.id %>
  <%= f.text_area :body, rows: "6" %>
  <ul class="status-buttons">
    <li>
      <%= button_tag "Cancelar", class: "button-default cancel", type: "button" %>
    </li>
    <li>
      <%= submit_tag "Enviar", class: "button-primary" %>
    </li>
  </ul>
<% end %>
