<div id="app-checkout-step-3" class="modal hide modal-fill-height modal-grids-14 modal-add-oer">
  <div class="modal-header">
    <span class="modal-close icon-close-big-gray_16_18 text-replacement" data-dismiss="modal" title="Fechar">Fechar</span>
    <h3 class="modal-title">Adicionar a “<%= @space.name %>”</h3>
    <span class="modal-subtitle"><%= "#{@app.name} - #{@app.author}" %></span>
  </div>
  <%= form_tag(app_checkout_path(@app_id, step: @next_step), class: "form-horizontal", remote: true) do %>
    <%= hidden_field_tag "space_id", @space.id %>
    <%= hidden_field_tag "create_module", @create_module %>
    <div class="modal-body">
      <div class="apps-portal-add-oer-section">
        <div class="progress-bar-total progress-bar-thick">
          <div class="progress-bar-completed text-replacement" style="width: 100%;">100%</div>
        </div>
        <ol class="apps-portal-add-oer-steps-explaination">
          <li class="apps-portal-add-oer-step-explaination apps-portal-add-oer-step-past">
            <h4 class="apps-portal-add-oer-step-title">Passo 1</h4>
            <p>Escolha uma Disciplina clicando no link em azul. Este aplicativo será adicionado como uma Aula.</p>
          </li>
          <li class="apps-portal-add-oer-step-explaination apps-portal-add-oer-step-past">
            <h4 class="apps-portal-add-oer-step-title">Passo 2</h4>
            <p>Escolha entre criar um novo Módulo ou utilizar um existente para alocar a Aula onde este aplicativo estará disponível.</p>
          </li>
          <li class="apps-portal-add-oer-step-explaination apps-portal-add-oer-step-current">
            <h4 class="apps-portal-add-oer-step-title">Passo 3</h4>
            <p>Escreva o nome do Módulo e da Aula (ou selecione entre os Módulos existentes e escreva o nome da Aula).</p>
          </li>
        </ol>
      </div>
      <hr class="list-separator">
      <div class="apps-portal-add-oer-section">
        <div class="list-environment-course-space-header">
          <%= image_tag "new/missing_environments_thumb_32.png", :title => @space.course.environment.name, :alt => @space.course.environment.name, :class => "list-environment-course-space-image-link" %>
          <h4 class="list-environment-course-space-title">
            <%= @space.course.environment.name %> <span class="list-environment-course-space-link">></span> <%= @space.course.name %> <span class="list-environment-course-space-link">></span> <%= @space.name %>
          </h4>
        </div>
        <div class="apps-portal-add-oer-step-3-form">
          <div class="control-group row">
            <div class="control-label span3">
              <label for="input-2-1">Nome do novo Módulo</label>
            </div>
            <div class="controls span8">
              <% if @create_module == "true" %>
                <%= text_field_tag "subject", nil, placeholder: "Nome do novo Módulo" %>
              <% else %>
               <%= select_tag "subject", options_from_collection_for_select(@space.subjects, "id", "name") %>
              <% end %>
            </div>
          </div>
          <div class="control-group row">
            <div class="control-label span3">
              <label for="input-2-2">Nome da Aula</label>
            </div>
            <div class="controls span8">
              <%= text_field_tag "lesson", nil, placeholder: "Aula onde este aplicativo será criado" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#modal-add-oer-step-2" class="button-default">Voltar à etapa anterior</a>
      <%= submit_tag "Adicionar a Disciplina", class: "button-success" %>
    </div>
  <% end %>
</div>
