<%= form_tag(app_checkout_path(@app_id, step: @next_step), class: "form-horizontal", remote: true) do %>
  <%= hidden_field_tag "space_id", @space.id %>
  <%= hidden_field_tag "create_subject", @create_subject %>
  <div class="modal-body">
    <%= render "steps_description", step: step %>
    <hr class="list-separator">
    <div class="apps-portal-add-oer-section">
      <div class="list-environment-course-space-header">
        <%= image_tag @space.course.environment.thumbnail, :title => @space.course.environment.name, :alt => @space.course.environment.name, :class => "list-environment-course-space-image-link" %>
        <h4 class="list-environment-course-space-title">
          <%= @space.course.environment.name %> <span class="list-environment-course-space-link">></span> <%= @space.course.name %> <span class="list-environment-course-space-link">></span> <%= @space.name %>
        </h4>
      </div>
      <div class="apps-portal-add-oer-step-3-form">
        <div class="control-group row">
          <div class="control-label span3">
            <label for="input-2-1">Nome do novo Módulo</label>
          </div>
          <div class="controls span8">
            <% if @create_subject == "true" %>
              <%= text_field_tag "subject", nil, placeholder: "Nome do novo Módulo" %>
            <% else %>
             <%= select_tag "subject", options_from_collection_for_select(@space.subjects, "id", "name") %>
            <% end %>
          </div>
        </div>
        <div class="control-group row">
          <div class="control-label span3">
            <label for="input-2-2">Nome da Aula</label>
          </div>
          <div class="controls span8">
            <%= text_field_tag "lecture", nil, placeholder: "Aula onde este aplicativo será criado" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to "Voltar à etapa anterior", app_checkout_path(@app_id, step: @next_step - 2, previous_step: @next_step - 1, space_id: @space.id), remote: true, method: :post, class: "button-default" %>
    <%= submit_tag "Adicionar a Disciplina", class: "button-success" %>
  </div>
<% end %>
