<h1>STEP 3</h1>
<%= form_tag  app_checkout_path (@app_id), :step => @next_step do %>
  <p> Nome do modulo:
    <% if @create_subject == 'true' %>
      <%= text_field_tag 'subject' %>
    <% else %>
      <%= select_tag 'subject', options_from_collection_for_select(@space.subjects, 'id', 'name') %>
    <%end %>
  </p>
  <p> Nome da aula:
    <%= text_field_tag 'lesson' %>
  </p>
  <%= hidden_field_tag 'space_id', @space.id %>
  <%= hidden_field_tag 'create_subject', @create_subject %>
  <%= submit_tag('Next') %>
<% end %>
