<h1>STEP 2</h1>
<%= form_tag(app_checkout_path(@app_id, step: @next_step)) do %>
  <%= hidden_field_tag 'space_id' , @space_id %>
  <%= hidden_field_tag 'create_subject', false %>
  <%= submit_tag('Usar Módulo existente') %>
<% end %>

<%= form_tag(app_checkout_path(@app_id, step: @next_step)) do %>
  <%= hidden_field_tag 'space_id' , @space_id %>
  <%= hidden_field_tag 'create_subject', true %>
  <%= submit_tag('Criar novo Módulo') %>
<% end %>
