<li class="general-list-item">
  <% if favorite_flag %>
    <%= link_to "Fechar", user_favorite_path(current_user, app),
                :confirm => "Are you sure?", :method => :delete,
                :class => "general-list-item-close icon-close-gray_16_18 text-replacement" %>
  <% end %>
  <div class="general-list-item-body">
    <div class="general-list-item-column">
      <%= link_to app_path(app), title: app.name do %>
        <%= image_tag app.thumbnail(:medium), title: app.name, alt: app.name, size: "160x160" %>
      <% end %>
    </div>
    <div class="general-list-item-column">
      <h4 class="general-list-item-title">
        <%= link_to truncate(app.name, :length => 40), app_path(app),
            title: app.name, class: "general-list-item-title-link" %>
      </h4>
      <span class="legend">Autor: <%= app.author %></span>
      <span class="legend"><%= names_for(Category.get_by_kind(app, 'Nível')) %></span>
      <span class="legend">Língua: <%= app.language %></span>
      <% has_subarea = Category.get_by_kind(app, 'Subárea').length > 0 %>
      <% if Category.get_by_kind(app, 'Área').length > 0 %>
        <span class="legend">
          Área: <%= names_for(Category.get_by_kind(app, 'Área')) %><%= ':' if has_subarea %>
          <%= names_for(Category.get_by_kind(app, 'Subárea')) if has_subarea %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="general-list-item-footer">
    <%= render "shared/app_rating_stars", rating: app.reputation_for(:rating).to_i %>
    <ul class="general-list-item-counters">
      <li class="general-list-item-counter icon-seen-gray_16_18-before">
        <%= app.views %>
      </li>
      <li class="general-list-item-counter icon-comment-gray_16_18-before">
        <%= count_comments_for(app) %>
      </li>
      <% specialized_comments = Comment.get_by_type(app, :specialized).length %>
      <% if specialized_comments != 0 %>
        <li class="general-list-item-counter icon-specialist-gray_16_18-before">
          <%= specialized_comments %>
        </li>
      <% end %>
    </ul>
  </div>
  <% if favorite_flag || @user_app_associations.collect(&:id).include?(app.id) %>
    <%= link_to "Abrir", preview_app_path(app), :class => "button-default",
                :"data-toggle" => "modal-app", :"data-modal-title" => app.name,
                :"data-modal-subtitle" => app.author, :"data-modal-url" => app.url %>
  <% end %>
</li>
