<div class="nav-global nav-global-fixed-top">
  <style>
    .main-wrapper { padding-top: 42px; }
  </style>
  <div class="nav-global-inner">
    <div class="nav-global-container">
      <h1>
        <%= link_to "Redu", redu_domain, class: "nav-global-brand logo-redu-gray_140_40 text-replacement", title: "Redu" %>
      </h1>
      <div class="nav-global-buttons">
        <%= link_to "Início", redu_domain, class: "nav-global-button", title: "Início" %>
        <%= link_to "Ensine", redu_static("ensine"), class: "nav-global-button", title: "Ensine" %>
        <%= link_to "Ambientes", redu_static("ambientes"), class: "nav-global-button", title: "Ambientes" %>
        <%= link_to "Aplicativos", root_path, class: "nav-global-button nav-global-button-active", title: "Aplicativos" %>
      </div>
      <div class="nav-global-right-area">
        <%= render "shared/form_search" %>
        <div class="nav-global-buttons-dropdown button-toolbar pull-right">
          <div class="button-group">
            <button class="button-default nav-global-button-dropdown dropdown-toggle icon-profile-2-lightblue_16_18-before" data-toggle="dropdown">
              <span class="button-dropdown-arrow icon-arrow-down-lightblue_8_10"></span>
            </button>
            <div class="dropdown-menu nav-global-profile-dropdown">
              <div class="arrow"></div>
              <div class="nav-global-profile-header">
                <%= current_user.display_name %>
              </div>
              <ul class="nav-global-profile-items">
                <li class="nav-global-profile-item">
                  <%= link_to "Meu Perfil", redu_user_static, class: "nav-global-profile-item-link icon-profile-lightblue_16_18-before", title: "Meu Perfil" %>
                  <%= link_to "editar", redu_user_static("editar"), class: "nav-global-profile-item-link-secondary link-secondary", title: "Editar perfil" %>
                </li>
                <li class="nav-global-profile-item">
                  <%= link_to "Mensagens", redu_user_static("messages"), class: "nav-global-profile-item-link icon-message-lightblue_16_18-before", title: "Mensagens" %>
                </li>
                <li class="nav-global-profile-item">
                  <%= link_to "Configurações", redu_user_static("editar"), class: "nav-global-profile-item-link icon-manage-lightblue_16_18-before", title: "Configurações" %>
                </li>
                <li class="nav-global-profile-item">
                  <%= link_to "Sair", logout_path, remote: true, method: :delete, title: "Sair", class: "nav-global-profile-item-link nav-global-profile-item-link-iconless" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
