<%= link_to app.name, app_path(app) =%>
<li>Autor: <%= app.author %></li>
<li>Lingua: <%= app.language %></li>
<li>Views: <%= app.views %> </li>
<li>
  Comentarios: <%= app.comments.select { |c| c.type == :common }.count %>
</li>
<li>
  Comentario Especialistas: <%= app.comments.select { |c| c.type ==  :specialized }.count %>
</li>
<% @kinds.each do |cat| %>
  <% if app.categories.any? {|c| c.kind == cat.kind } %>
    <li>
       <%= cat.kind %>: <%= app.categories.select { |a| a.kind == cat.kind }.collect &:name %>
    </li>
  <% end %>
<% end %>
