<% rating = app.reputation_for(:rating).to_i %>
<% specialized_comments = app.comments.select { |c| c.type ==  :specialized }.count %>
<% belongs_to_area = app.categories.any? { |c| c.kind.eql? "Área" } %>
<li class="general-list-item">
  <div class="general-list-item-body">
    <div class="general-list-item-column">
      <%= link_to app_path(app), title: app.name do %>
        <%= image_tag app.thumbnail(:medium), title: app.name, alt: app.name %>
      <% end %>
    </div>
    <div class="general-list-item-column">
      <h4 class="general-list-item-title">
        <%= link_to truncate(app.name, :length => 40), app_path(app), title: app.name, class: "general-list-item-title-link" %>
      </h4>
      <span class="legend">Autor: <%= app.author %></span>
      <span class="legend"><%= app.categories.select { |c| c.kind.eql? "Nível" }.collect(&:name).join(", ") %></span>
      <span class="legend">Língua: <%= app.language %></span>
      <% if belongs_to_area %>
        <span class="legend">Área: <%= app.categories.select { |c| c.kind.eql? "Área" }.collect(&:name).join(", ") %></span>
      <% end %>
    </div>
  </div>
  <div class="general-list-item-footer">
    <%= render "shared/app_rating_stars", rating: rating %>
    <ul class="general-list-item-counters">
      <li class="general-list-item-counter icon-seen-gray_16_18-before"><%= app.views %></li>
      <li class="general-list-item-counter icon-comment-gray_16_18-before"><%= app.comments.select { |c| c.type == :common }.count %></li>
      <% if specialized_comments != 0 %>
        <li class="general-list-item-counter icon-specialist-gray_16_18-before"><%= specialized_comments %></li>
      <% end %>
    </ul>
  </div>
</li>
