<div id="stars" >
<div class="oer-rating">
  <div class="oer-stars-n-value">
    <%# Estrelas. %>
    <ol class="oer-stars<%= " oer-stars-user-rated" if can? :rate, @app %>">
      <% user_rating = @user_rating.to_i || 0 %>
      <% index = user_rating || 0 %>
      <%# Renderiza as estrelas azuis da nota do usuário. %>
      <% if can? :rate, @app %>
        <% user_rating.times do |n| %>
          <%= render "star", index: n, type: "blue" %>
        <% end %>
      <% end %>
      <%# Renderiza as estrelas cinza escuro da média de classificação. %>
      <% if @app_rating > user_rating %>
        <% (@app_rating - user_rating).to_i.times do |n| %>
          <%= render "star", index: index, type: "gray" %>
          <% index += 1 %>
        <% end %>
      <% end %>
      <%# Renderiza as estrelas cinza claro restantes. %>
      <% (5 - index).times do |n| %>
        <%= render "star", index: index, type: "lightgray" %>
        <% index += 1 %>
      <% end %>
    </ol>

    <%# Nota média. %>
    <span class="oer-rating-value"><%= @app_rating %><span class="oer-rating-value-max">/5</span></span>
  </div>

  <%# Nota do usuário. %>
  <% if can? :rate, @app %>
    <span class="legend show">
      <% if @evaluated %>
        Você classificou em <%= t "star", count: user_rating %>.
      <% else %>
        Classifique este Recurso.
      <% end %>
    </span>
  <% end %>
</div>
</div>
