<div class="apps-portal-oer">
  <div class="apps-portal-oer-explaination">
    <span class="apps-portal-oer-close icon-close-gray_16_18 text-replacement">Fechar</span>
    <h3 class="apps-portal-oer-explaination-title">O que são R.E.A.s?</h3>
    <p>São <em>aplicativos</em> de ensino e aprendizagem que estão licenciados de maneira aberta, permitindo que sejam utilizados ou adaptados por qualquer pessoa gratuitamente (<em>em seus Ambientes de Aprendizagem ou em seu Perfil</em>). Podem incluir, também, cursos completos, partes de cursos, módulos, livros didáticos, artigos de pesquisa, vídeos, testes, software e qualquer material ou técnica que possa apoiar o acesso ao conhecimento. (<a href="http://rea.net.br/site/o-que-e-rea/" title="UNESCO/Comunidade REA Brasil">UNESCO/Comunidade REA Brasil</a>)</p>
  </div>
</div>

<a class="apps-portal-oer-link" href="#" title="Saiba mais sobre Recursos Educacionais Abertos.">Saiba mais sobre Recursos Educacionais Abertos.</a>

<ul class="tabs tabs-big">
  <li class="tab tab-active">
    <%= link_to "Recursos Educacionais Abertos", root_path, :class => "tab-title icon-oer-lightblue_16_18-before", :title => "Recursos Educacionais Abertos" %>
  </li>
  <% if current_user %>
  <li class="tab">
    <% favorite_apps_count = parentize(@favorite_apps_count) %>
    <%= link_to "Aplicativos Favoritos #{favorite_apps_count}", user_favorites_path(current_user), :class => "tab-title icon-favorite-lightblue_16_18-before", :title => "Aplicativos Favoritos #{favorite_apps_count}" %>
  </li>
  <% end %>
</ul>

<div class="apps-portal-filters">
  <div class="filters">
    <% @categories.each do |cat| %>
      <% filter_active = "" %>
      <% if @filter.include?(cat.id.to_s) %>
        <% filter_active = " filter-active" %>
      <% end %>
      <%= link_to cat.name, apps_path(filter: @filter | [cat.id], search: @search), :class => "filter#{filter_active}" %>
    <% end %>
  </div>
</div>

<div class="oer-apps-wrapper">
  <ul id="apps" class="list-2-columns list-columns-separator">
    <%= render @apps %>
  </ul>
</div>

<hr class="list-separator">

<div id="paginator" class="pagination">
  <%= link_to_next_page(@apps, "Mostrar mais...", {remote: true, params: {filter: @filter}, class: "button-default icon-arrow-down-pagination-gray_16_18-before"})  %>
</div>
