<% unless params.include? :search %>
  <div class="apps-portal-oer" style="display:none;">
    <div class="apps-portal-oer-explaination">
      <span class="apps-portal-oer-close icon-close-gray_16_18 text-replacement">Fechar</span>
      <h3 class="apps-portal-oer-explaination-title">O que são R.E.A.s?</h3>
        <p>Recursos Educacionais Abertos são <em>materiais</em> de ensino, aprendizado e pesquisa em qualquer suporte ou mídia, que estão sob domínio público, ou estão licenciados de maneira aberta, permitindo que sejam utilizados ou adaptados por terceiros. O uso de formatos técnicos abertos facilita o acesso e o reuso potencial dos recursos publicados digitalmente. Recursos Educacionais Abertos podem incluir cursos completos, partes de cursos, módulos, livros didáticos, artigos de pesquisa, vídeos, testes, software, e qualquer outra ferramenta, material ou técnica que possa apoiar o acesso ao conhecimento.(<a href="http://rea.net.br/site/o-que-e-rea/" title="UNESCO/Comunidade REA Brasil">UNESCO/Comunidade REA Brasil</a>)</p>
    </div>
  </div>

  <a class="apps-portal-oer-link" href="#" title="Saiba mais sobre Recursos Educacionais Abertos.">Saiba mais sobre Recursos Educacionais Abertos.</a>
<% end %>

<%# Abas de navegação %>
<%= render_navigation context: :tabs, renderer: :navigation_tabs %>

<% if @apps.size == 0 %>

  <div class="oer-apps-none">
    <%= image_tag "icon-api-gray_128_130.png", size: "128x130" %>
    <p>Sentimos muito, mas não achamos resultado para “<%= params[:search] %>”. Tente outro termo.</p>
  </div>

<% else %>

  <% unless !params.include? :search %>
    <div class="apps-portal-search-messages">
      <span class="apps-portal-search-message">
        Você buscou por <strong>“<%= params[:search] %>”</strong>.
        Achamos <strong><%= @results_counter %></strong> <%= t 'result', count: @results_counter %>.
      </span>
      <span class="apps-portal-search-message">Use os filtros abaixo para facilitar a busca.</span>
    </div>
  <% end %>

  <div class="apps-portal-filters">
    <%= render_navigation context: :filters, renderer: :category_filters %>
  </div>

  <div class="oer-apps-wrapper">
    <div id="apps" class="apps-list">
      <%= render partial: 'shared/app', collection: @apps,
                 locals: { favorite_flag: false, total: @apps.count } %>
    </div>
  </div>

  <% if @apps.num_pages > 1 %>
    <hr class="list-separator">

    <div id="paginator" class="pagination">
      <%= render 'shared/apps_pagination' %>
    </div>
  <% end %>

<% end %>
