<%= render_navigation :renderer => :breadcrumbs, :join_with => " &gt; " %>
<p id="notice"><%= notice %></p>
<h1>APPS</h1>
<% @apps.each do |app| %>
   <p> <%= app.name =%>  <%= app.categories =%>
<% end %>
<%= will_paginate @apps =%>
<%= render_navigation :renderer => :breadcrumbs, :join_with => " &gt; " %>
