<div class="oer-main-wrapper">

  <div class="oer-header clearfix">
    <h3 class="oer-title"><%= @app.name %></h3>

    <% if @favorite %>
      <span class="icon-favorite-blue_32_34 show text-replacement pull-right" rel="tooltip" title="Este é um Aplicativo Favorito." data-placement="left">Favorito</span>
    <% end %>
  </div>

  <div class="oer-body clearfix">
    <%# Coluna da esquerda. %>
    <div class="oer-left-sidebar">
      <%# Thumbnail. %>
      <%= image_tag @app.thumbnail.url(:large), alt: @app.name, title: @app.name, class: "oer-thumbnail", size: "160x160" %>

      <%# Área de classificação. %>
      <%= render "stars" %>

      <%# Contadores. %>
      <ul class="oer-counters">
        <li id="evaluation-count" class="oer-counter legend icon-star-empty-gray_16_18-before">
          <%= t 'evaluation', count: @evaluations %>.
        </li>
        <li class="oer-counter legend icon-favorite-gray_16_18-before">
          <%= t 'favorite', count: @app.users.count %>.
        </li>
        <li class="oer-counter legend icon-seen-gray_16_18-before">
          <%= t 'views', count: @app.views %>.
        </li>
        <% if @specialized_comments.length > 0 %>
          <li class="oer-counter legend icon-specialist-gray_16_18-before">
            <%= t 'review', count: @specialized_comments.length %>.
          </li>
        <% end %>
        <li class="oer-counter legend icon-comment-gray_16_18-before">
          <%= t 'comment',
                count: count_comments_for(@app) %>.
        </li>
      </ul>
    </div>

    <%# Coluna do meio. %>
    <div class="oer-middle-sidebar">

      <div class="oer-info-n-buttons clearfix">
        <%# Informações. %>
        <ul class="oer-info">
          <li class="oer-info-item">
            <em class="oer-info-key">Autor:</em>
            <span class="oer-info-value"><%= @app.author %></span>
          </li>
          <% @app_categories.each do |category| %>
            <li class="oer-info-item">
              <em class="oer-info-key"><%= category.first %>:</em>
              <span class="oer-info-value"><%= category.second.join(", ") %></span>
            </li>
          <% end %>
          <li class="oer-info-item">
            <em class="oer-info-key">Objetivo:</em>
            <span class="oer-info-value"><%= @app.objective %></span>
          </li>
          <li class="oer-info-item">
            <em class="oer-info-key">Sinopse:</em>
            <span class="oer-info-value"><%= @app.synopsis %></span>
          </li>
          <li class="oer-info-item">
            <em class="oer-info-key">Descrição:</em>
            <span class="oer-info-value"><%= @app.description %></span>
          </li>
        </ul>

        <%# Botões. %>
        <div class="oer-buttons">
          <button class="button-default" data-toggle="modal-app" data-modal-title="<%= @app.name %>" data-modal-subtitle="<%= @app.author %>" data-modal-url="<%= @app.core_url %>">Abrir este Recurso</button>
          <% if can? :create, UserAppAssociation.new(app: @app)   %>
            <%= form_tag user_favorites_path(current_user), method: "post" do %>
              <%= hidden_field_tag :app_id , @app.id %>
              <%= content_tag :button, type: :submit, class: "button-primary" do %>
                Adicionar a Favoritos
              <% end %>
            <% end %>
          <% end %>
          <% if can? :checkout, @app %>
            <%= form_tag app_checkout_path(@app, previous_step: 0), method: :post, remote: true do %>
              <%= content_tag :button, "Adicionar a Disciplina", class: "button-success" %>
            <% end %>
          <% end %>
          <% if can? :destroy, @favorite %>
            <%= link_to "Remover dos Favoritos", user_favorite_path(current_user, @favorite), method: "delete", class: "icon-favorite-delete-lightblue_16_18-before", title: "Remover dos Favoritos" %>
          <% end %>
        </div>
      </div>

      <div class="oer-meta-wrapper">
        <ul class="oer-meta meta-data-column-1">
          <li class="oer-meta-item">
            <span class="legend"><em>Publicador:</em> <%= verify_availability(@app.publishers) %></span>
          </li>
          <li class="oer-meta-item">
            <span class="legend"><em>Detentor dos Direitos:</em> <%= verify_availability(@app.copyright) %></span>
          </li>
          <li class="oer-meta-item">
            <span class="legend"><em>Submetido por:</em> <%= verify_availability(@app.submitters) %></span>
          </li>
        </ul>

        <ul class="oer-meta meta-data-column-2">
          <li class="oer-meta-item">
            <span class="legend"><em>Classificação:</em> <%= verify_availability(@app.classification) %></span>
          </li>
          <li class="oer-meta-item">
            <span class="legend"><em>Língua:</em> <%= verify_availability(@app.language) %></span>
          </li>
          <li class="oer-meta-item">
            <span class="legend"><em>País de Origem:</em> <%= verify_availability(@app.country) %></span>
          </li>
          <li class="oer-meta-item">
            <span class="legend"><em>Origem:</em> <%= verify_availability(@app.url, true) %></span>
          </li>
        </ul>
      </div>

      <div class="oer-images">
        <% @app.screen_shots.each do |ss| %>
          <%= image_tag ss.screen.url(:unique), alt: "Prévia", title: "Prévia", class: screen_shot_class(@app.screen_shots.length), size: "700x200" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<ol class="statuses oer-comments">
  <%= render partial: 'comments/specialized_comment', collection: @specialized_comments %>

  <% if can? :create, Comment %>
    <!-- Botões de comentários -->
    <li>
      <hr class="list-separator">
      <div class="status status-buttons reply-buttons">
        <ul class="status-text">
          <li>
            <button class="button-primary button-big reply-status button-comment icon-comment-white_blue_32_34-before">Comentar sobre este aplicativo</button>
          </li>
          <% if can? :create, Comment.new(kind: :specialized) %>
            <li>
              <button class="button-primary button-big reply-status button-review icon-specialist-white_blue_32_34-before">Escrever uma resenha</button>
            </li>
          <% end %>
        </ul>
        <%= render "comments/form", klass: "flap-to-comment", array_for_url: [@app, @app.comments.build(kind: "common")] %>
        <% if can? :create, Comment.new(kind: :specialized) %>
          <%= render "comments/form", klass: "flap-to-review", array_for_url: [@app, @app.comments.build(kind: "specialized")] %>
        <% end %>
      </div>
    </li>
  <% end %>

  <!-- Comentários comuns -->
  <% if can? :read, Comment %>
    <ol id="comments" class="oer-comments-commom">
      <%= render partial: 'comments/common_comment', collection: @common_comments %>
    </ol>
  <% end %>
</ol>

<% if can? :read, Comment %>
  <% unless @common_comments.last_page? %>
    <div id="pagination-wrapper">
      <hr class="list-separator">
      <div id="paginator" class="pagination">
        <%= link_to_unless @common_comments.last_page?, "Mostrar mais...",
          app_comments_path(@app, page: (@common_comments.current_page + 1)), :rel => 'next', remote: true,
          class: "button-default icon-arrow-down-pagination-gray_16_18-before" %>
      </div>
    </div>
  <% end %>
<% end %>
