<p id="notice"><%= notice %></p>
<h1><%= image_tag @app.thumbnail.url(:thumb) %> <%= @app.name %> </h1>
<ul>
  <% @app.attributes.except("id", "thumbnail_file_name", "thumbnail_content_type",
      "thumbnail_file_size", "thumbnail_updated_at", "created_at", "name",
      "updated_at").each do |att|
        %>
    <li><%= t(att.first) %>: <%= att.second %></li>
  <% end %>
</ul>

<h2>Resenhas</h2>
<% @app.comments.specialized.each do |comment| %>
  <p>
    <%= image_tag comment.author.thumbnail.url(:thumb) %>
    <b>Autor</b>
    <%= "#{comment.author.first_name} #{comment.author.last_name}" %> (especialista)
    || <b>Data-Hora</b> <%= l comment.created_at %>
  </p>

  <p>
    <b>Comentário:</b>
    <%= comment.body %>
    <%= link_to 'Apagar Comentário', [comment.app, comment],
               :confirm => 'Tem certeza?',
               :method => :delete %>
  </p>
<% end %>

<h2>Comentários</h2>
<% @app.comments.common.each do |comment| %>
  <p>
    <%= image_tag comment.author.thumbnail.url(:thumb) %>
    <%= "#{comment.author.first_name} #{comment.author.last_name}" %>
    comentou sobre este aplicativo:
    <br /><%= l comment.created_at %>
  </p>
  <p>
    <%= comment.body %>
    <%= link_to 'Apagar Comentário', [comment.app, comment],
               :confirm => 'Tem certeza?',
               :method => :delete %>
  </p>
  <% comment.answers.each do |answer| %>
    <p>
      <%= image_tag answer.author.thumbnail.url(:thumb) %>
      <b><%= "#{answer.author.first_name} #{answer.author.last_name}" %></b>
      respondeu:<br /><%= l answer.created_at %>
    </p>
    <%= answer.body %>
    <%= link_to 'Apagar Resposta', [comment.app, comment, answer],
               :confirm => 'Tem certeza?',
               :method => :delete %>
  <% end %>

  <h2>Responda este comentário:</h2>
  <%= form_for([@app, comment, @app.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :autor %> (login do usuário)<br />
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :corpo %><br />
      <%= f.text_area :body %>
    </div>
      <%= f.hidden_field :type, :value => 'answer' %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<h2>Faça um novo comentário:</h2>
<%= form_for([@app, @app.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :autor %> (login do usuário)<br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :corpo %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', apps_path %>
<%= link_to 'Preview', preview_app_path(@app) %>
<%= form_tag user_favorites_path(@user.id), :method => "post" do %>
   <%= hidden_field_tag :app_id , @app.id %>
   <%= submit_tag("Adcionar a Favoritos") %>
<% end %>
