<div class="oer-main">

  <h2> <%= @app.name %> </h2>

  <% if @favorite %>
    <div class="oer-add-favorite" rel="tooltip" title="Este é um Aplicativo Favorito." data-placement="left">
      <span class="icon-favorite-blue_32_34 show text-replacement">Favorito</span>
    </div>
  <% end %>

  <div class="oer-data">
    <%= image_tag @app.thumbnail.url(:large) %>

    <ol class="oer-stars <%= "oer-stars-user-rated" if @user %>">
      <% app_reputation = @app.reputation_for(:rating) %>
      <% user_rating = 0 %>
      <% index = 0 %>
      <% if @user %>
        <% user_rating = @user_rating.to_i %>
        <% index = user_rating %>
        <% user_rating.times do |n| %>
          <li>
            <%= link_to "#{n+1}", rate_app_path(@app, rating: n+1), method: "post", class: "icon-star-full-blue_16_18 show text-replacement", "data-star-color" => "blue" %>
          </li>
        <% end %>
      <% end %>
      <% if app_reputation > user_rating %>
        <% (app_reputation - user_rating).to_i.times do |n| %>
          <li>
            <% if @user %>
              <%= link_to "#{index+1}", rate_app_path(@app, rating: index+1), method: "post", class: "icon-star-full-gray_16_18 show text-replacement", "data-star-color" => "gray" %>
            <% else %>
              <span class="icon-star-full-gray_16_18 show text-replacement"><%= index + 1 %></span>
            <% end %>
          </li>
          <% index += 1 %>
        <% end %>
      <% end %>
      <% (5 - index).times do |n| %>
        <li>
          <% if @user %>
            <%= link_to "#{index+1}", rate_app_path(@app, rating: index+1), method: "post", class: "icon-star-full-lightgray_16_18 show text-replacement", "data-star-color" => "lightgray" %>
          <% else %>
            <span class="icon-star-full-lightgray_16_18 show text-replacement"><%= index + 1 %></span>
          <% end %>
        </li>
        <% index += 1 %>
      <% end %>
    </ol>

    <h6><%= app_reputation %><span>/5</span></h6>
    <ul class="data-app">
      <% if @user %>
        <li class="app-rating">
          <% if @evaluated %>
            Você classificou em <%= t "star", count: user_rating %>.
          <% else %>
            Classifique este Recurso.
          <% end %>
        </li>
      <% end %>
      <li class="icon-star-empty-gray_16_18-before">
        <%= t 'evaluation', count: @evaluations %>.
      </li>
      <li class="icon-favorite-gray_16_18-before">
        <%= t 'favorite', count: @app.users.count %>.
      </li>
      <li class="icon-seen-gray_16_18-before">
        <%= t 'view', count: @app.views %>.
      </li>
      <li class="icon-specialist-gray_16_18-before">
        <%= t 'review', count: @app.comments.specialized.length %>.
      </li>
      <li class="icon-comment-gray_16_18-before">
        <%= t 'comment',
              count: (@app.comments.common.length + @app.comments.answer.length) %>.
      </li>
    </ul>

    <div class="oer-cc">
      <%= link_to "Licença por Atribução (by)", "http://creativecommons.org.br/as-licencas/", class: "cc-by-88_31 text-replacement", target: "_blank", rel: "popover", "data-original-title" => "Licença por Atribuição (by)", "data-content" => "Esta licença permite que outros distribuam, remixem, adaptem ou criem obras derivadas, mesmo que para uso com fins comerciais, contanto que seja dado crédito pela criação original. Esta é a licença menos restritiva de todas as oferecidas, em termos de quais usos outras pessoas podem fazer de sua obra.", "data-placement" => "bottom" %>
    </div>
  </div>


  <div class="oer-info-app">

    <p class="info">Autor:<p>
    <p class="description"><%= @app.author %></p>

    <% @kinds.each do |cat| %>
      <% if @app.categories.any? {|c| c.kind == cat.kind } %>
        <p class="info"><%= cat.kind %>:</p>
        <p class="description"><%= (@app.categories.select { |a| a.kind == cat.kind }.collect &:name).first %></p>
      <% end %>
    <% end %>

    <p class="info">Objetivo:</p>
    <p class="description"><%= @app.objective %></p>

    <p class="info">Sinopse:</p>
    <p class="description"><%= @app.synopsis %></p>
  </div>

  <div class="oer-buttons">
    <button class="button-default" data-toggle="modal-app" data-modal-title="<%= @app.name %>" data-modal-subtitle="<%= @app.author %>" data-modal-url="<%= @app.url %>">Abrir este Recurso</button>
    <% unless @favorite || !@user %>
      <%= form_tag user_favorites_path(@user.id), method: "post" do %>
        <%= hidden_field_tag :app_id , @app.id %>
        <%= content_tag :button, :type => :submit, class: "button-primary" do %>
          Adicionar a Favoritos
        <% end %>
      <% end %>
    <% end %>
    <%= form_tag app_checkout_path(@app), method: "post" do %>
      <%= content_tag :button, :type => :submit, :class => "button-primary", :'data-target' => "#modal-add-oer-step-1", :'data-toggle' => "modal", class: "button-success"  do %>
        Adicionar a Disciplina
      <% end %>
    <% end %>
    <% if @favorite %>
      <%= link_to "Remover dos Favoritos", user_favorite_path(current_user, @favorite), :method => "delete", :class => "icon-favorite-delete-lightblue_16_18-before", :title => "Remover dos Favoritos" %>
    <% end %>
  </div>

  <div class="oer-meta-data">
    <div class="meta-data-column-1">
      <p><span>Publicador:</span> <%= @app.publishers %></p>
      <p><span>Detentor dos Direitos:</span> <%= @app.copyright %></p>
      <p><span>Submetido por:</span> <%= @app.submitters %></p>
      <p><span>Classificação:</span> <%= @app.classification %></p>
    </div>

    <div class="meta-data-column-2">
      <p><span>Língua:</span> <%= @app.language %></p>
      <p><span>País de Origem:</span> <%= @app.country %></p>
      <p><span>Classificação:</span> <%= @app.publishers %></p>
      <p><span>Origem:</span> <%= @app.url %></p>
    </div>
  </div>

  <div class="oer-images">

    <% @app.screen_shots.each do |ss| %>
      <%= image_tag ss.screen.url(:original) %>
    <% end %>

  </div>
</div>

<ol class="statuses oer-comments">
  <% @app.comments.specialized.each do |comment| %>
    <li>
      <hr class="list-separator">
      <div class="status status-text">
        <span class="specialist-icon icon-specialist-gray_32_34-before text-replacement">Especialista</span>
        <%= link_to "http://www.redu.com.br/pessoas/#{comment.author.login}", class: "icon-link" do %>
          <%= image_tag comment.author.thumbnail.url(:medium) %>
        <% end %>
        <%= link_to "#{comment.author.first_name} #{comment.author.last_name}", "http://www.redu.com.br/pessoas/#{comment.author.login}", class: "link-name" %>
        <span class="status-info">(especialista) escreveu uma resenha sobre este aplicativo:</span>
        <%= link_to 'Apagar Comentário', [comment.app, comment],
                    :confirm => 'Tem certeza?',
                    :method => :delete,
                    :class => "close icon-close-gray_16_18 replacement" %>
        <span class="date"><%= l comment.created_at %></span>
      </div>
      <div class="status-container specialist">
        <div class="status-content">
          <div class="post-text">
            <p class="input-user">
              <%= comment.body %>
            </p>
          </div>
          <!-- TODO: Adicionar quando implementar opção de expandir crítica do especialista.
          <hr class="link-separator">
          <ul>
            <li class="last-responses">
              <a href="#" class="link-secondary">Mostrar toda a crítica do especialista</a>
            </li>
          </ul> -->
        </div>
      </div>
    </li>
  <% end %>

<!-- Botões de comentários -->
    <li>
      <hr class="list-separator">
      <div class="status status-buttons especialist-buttons">
        <ul class="status-text">
          <li>
            <%= link_to "Comentar sobre este aplicativo", nil, class: "reply-status button-big button-comment button-primary icon-comment-white_blue_32_34-before" %>
          </li>
          <li>
            <%= link_to "Escrever uma resenha", nil, class: "reply-status button-big button-primary button-review icon-specialist-white_blue_32_34-before" %>
          </li>
        </ul>
        <div class="create-response">
          <%= form_for([@app, @app.comments.build]) do |f| %>
            <fieldset>
              <%= f.text_area :body, :id => "status_text", :cols => "40", :rows => "6", :style => "height: 136px; overflow: hidden; word-wrap: break-word; resize: horizontal; " %>
              <%= f.hidden_field :type, :value => 'common' %>
              <div class="status-buttons">
                <a class="cancel button-default" rel="nofollow" href="/pessoas/thaisbione/home">
                  Cancelar
                </a>
                <%= content_tag :button, :type => :submit, :class => "button-primary", :id => "status_submit", :name => "commit"  do %>
                  Enviar
                <% end %>
              </div>
            </fieldset>
          <% end %>
        </div>
        <div>
          <div class="create-response">
            <%= form_for([@app, @app.comments.build]) do |f| %>
              <fieldset>
                <%= f.text_area :body, :id => "status_text", :cols => "40", :rows => "6", :style => "height: 136px; overflow: hidden; word-wrap: break-word; resize: horizontal; " %>
                <%= f.hidden_field :type, :value => 'specialized' %>
                <div class="status-buttons">
                  <a class="cancel button-default" rel="nofollow" href="/pessoas/thaisbione/home">
                    Cancelar
                  </a>
                  <%= content_tag :button, :type => :submit, :class => "button-primary", :id => "status_submit", :name => "commit"  do %>
                    Enviar
                  <% end %>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </li>

<!-- Comentários comuns -->
  <% @app.comments.common.each do |comment| %>
    <hr class="list-separator">
    <li class="status">
      <div class="status-text">
        <%= image_tag comment.author.thumbnail.url(:medium), :class => "icon-link" %>
        <a href="#" class="link-name"><%= "#{comment.author.first_name} #{comment.author.last_name}" %></a>
        comentou sobre este aplicativo:
        <%= link_to 'Apagar Comentário', [comment.app, comment],
                   :confirm => 'Tem certeza?',
                   :method => :delete,
                   :class => "close icon-close-gray_16_18 replacement" %>
        <span class="date"><%= l comment.created_at %></span>
      </div>
      <div class="status-container">
        <div class="status-content">
          <div class="post-text">
            <p class="input-user">
              <%= comment.body %>
            </p>
          </div>
        </div>

        <!-- Respostas ao comentário -->
      <% if comment.answers.length != 0 %>
        <ol class="responses status-content">
          <li class="last-responses">
            <p class="legend">Visualizando as últimas respostas...</p><hr>
          </li>
        <% comment.answers.each do |answer| %>
          <li class="status-content response">
            <%= link_to 'Apagar Comentário', [comment.app, answer],
                       :confirm => 'Tem certeza?',
                       :method => :delete,
                       :class => "close icon-close-gray_16_18 replacement" %>
            <div class="status-text-response status-text">
              <a href="#" class="icon-link">
                <%= image_tag answer.author.thumbnail.url(:medium) %>
              </a>
              <a href="#" class="link-name">
                <%= "#{answer.author.first_name} #{answer.author.last_name}" %>
              </a>
              <span class="status-info">
                respondeu:
              </span>
              <span class="date">
                <%= l answer.created_at %>
              </span>
              <div class="post-text">
                <p class="input-user"><%= answer.body %></p>
              </div>
            </div>
            <hr>
          </li>
        <% end %>
          <li class="all-responses">
            <a href="#" class="link-secondary">
              <%= t 'comment.answer', count: comment.answers.length %>
            </a>
          </li>
        </ol>
      <% end %>
      </div>
      <ul class="actions clearfix">
        <li>
          <a class="icon-reply-gray_8_10-before reply-status" href="#">Responder</a>
        </li>
      </ul>
      <div class="create-response">
        <%= form_for([@app, comment, @app.comments.build]) do |f| %>
          <fieldset>
          <%= f.text_area :body, :id => "status_text", :cols => "40", :rows => "6", :style => "height: 136px; overflow: hidden; word-wrap: break-word; resize: horizontal; " %>
          <%= f.hidden_field :type, :value => 'answer' %>
            <div class="status-buttons">
              <a class="cancel button-default" rel="nofollow" href="/pessoas/thaisbione/home">Cancelar</a>
              <%= content_tag :button, :type => :submit, :class => "button-primary", :id => "status_submit", :name => "commit"  do %>
                Enviar
              <% end %>
            </div>
          </fieldset>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>

<!-- Se precisar de paginação (mais de 2 comentários). -->
  <hr class="list-separator">
  <div id="paginator" class="pagination">
    <!-- Integrar com o kaminari. -->
    <a href="#" class="button-default icon-arrow-down-pagination-gray_16_18-before">Mostrar mais...</a>
  </div>
<!-- End. -->
