<p id="notice"><%= notice %></p>

<h1> <%= @app.name %> </h1>
<ul>
  <% @app.attributes.except("id", "thumbnail_file_name", "thumbnail_content_type", 
      "thumbnail_file_size", "thumbnail_updated_at", "created_at", "name",
      "updated_at").each do |att|
        %>
    <li><%= t(att.first) %>: <%= att.second %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
