<!doctype html>
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Portal de Aplicativos — Redu</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-13202852-1']);
        _gaq.push(['_setDomainName', 'redu.com.br']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="main-wrapper">
      <% if current_user %>
        <%= render partial: "shared/nav_global" %>
      <% else %>
        <%= render partial: "shared/header_not_logged_in" %>
      <% end %>
      <%= render "shared/flash_message" %>
      <div class="container">
        <div class="row">
          <div class="span16">
            <div class="apps-portal-header">
              <h2 class="portal-title icon-apps-portal-gray_48_50-before pull-left">
                <%= link_to "Portal de Aplicativos", root_path, class: "portal-title-link", title: "Portal de Aplicativos" %>
                <span class="know-more-apps_220_99 text-replacement">Conheça mais Aplicativos"</span>
              </h2>
              <div id="apps-portal-breadcrumb" class="breadcrumb-mini-wrapper">
                <%= render_navigation context: :breadcrumbs %>
              </div>
              <%= render partial: 'shared/search' %>
            </div>
            <div class="apps-portal-content content-body">
              <%= yield %>
            </div>
            <div class="breadcrumb-mini-wrapper">
              <%= render_navigation context: :breadcrumbs %>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-pusher"></div>
    </div>
    <%= render partial: "shared/footer" %>
  </body>
</html>
